* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  body{
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQld03Rch04eIOA7dFkiD8e377f-STprCnI0B3t0bRThQ_yoRFcWlWjvXBPvbQfwF-CXWI&usqp=CAU);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    
  }
  /*----Navigation Section----*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    font-size: 20px;
  }
  
  li a:hover{
    background-color: white;
    color: black;
  }
  
  .logo{
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    color: white;
    float: left;
    padding: 10px 14px;
  }
  
  main {
    width: 100vw;
  }
  
  a, p, h3 {
    color: black;
  }
  
  .products {
    text-align: center;
    font-size: 40px;
    margin: 10px 50px;
    position: relative;
    overflow: hidden;
    padding: 50px 0;
    color: rgb(117, 3, 92);
        text-shadow: -2px 2px 4px 
            rgba(0, 0, 0, 0.5), 
            2px -2px 0 
            rgba(255, 255, 255, 0.9);
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 1.5rem 1.3rem;
    margin: 20px 50px;
    justify-content: center;
    align-content: center;
  }
  .product {
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    padding: 1em;
  }
  .product-img {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .product-price {
    font-weight:900;
    font-size: 20px;
    margin-bottom: 5px;
    color:turquoise;
  }
  .product-name {
    margin-bottom: 5px;
    color: rgb(255, 0, 149);
  }
 
  footer{
    text-align: center;
    background-color:linear-gradient(90deg, #b13e8b, #372056);
    color: black;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .fa {
      padding: 25px;
      font-size: 40px;
      width: 20px;
      text-align: center;
      color: #053031;
    }
  
  .fa:hover {
    opacity: 0.3;
    color: lightblue;
  } 
  
  .copyright{
    padding-bottom: 10px;
  }
  
  .email{
    color: rgb(168, 2, 2);
  }
  
  .email:hover{
    color: lightblue;
  }  